.OneQuarter {
    aspect-ratio: 1;
    margin: 5% 2.5%;
    transition-property: transform;
    transition-duration: 2s;
}

.OneQuarterCommon {
    transform-origin: top right;
    display: grid;
    place-items: center;
    position: relative;
}

.OneQuarterHovered {
    transform: scale(1.6);
}

.OneQuarterNotHoveredHorizontal {
    transform: scaleX(0.4) scaleY(1.6);
}

.OneQuarterNotHoveredVertical {
    transform: scaleY(0.4) scaleX(1.6);
}

.OneQuarterNotHoveredOblique {
    transform: scale(0.4);
}

.ImgStyle {
    max-width: 100%;
    aspect-ratio: 1;
    transition-property: transform;
    transition-duration: 2s;
}

.ImgStyleTopRight {
    transform-origin: right top;
}

.ImgStyleBottomLeft {
    transform-origin: bottom left;
}

.ImgStyleTopLeft {
    transform-origin: top left;
}

.ImgStyleBottomRight {
    transform-origin: bottom right;
}


.ImgStyleHorizontal {
    position: absolute;
    top: 0;
    transform: scaleY(0.25);
}

.ImgStyleVertical {
    position: absolute;
    left: 0;
    transform: scaleX(0.25);
}


.TextStyle {
    position: absolute;
    font-size: 1cqw;
    z-index: 1;
    bottom: 5%;
    transition-property: transform, font-size, opacity;
    transition-duration: 2s, 2s, 2s;

}

.TextStyleHorizontal {
    writing-mode: vertical-rl;
    text-orientation: upright;

}

.TextStyleVertical {
    transform: scaleX(0.25);
    font-size: 2.25cqw;
    position: absolute;
    font-size: 2.5cqw;
    margin: auto auto;

}