.custom-carousel .carousel-indicators {
    transform: translateY(50%);
    /* Push down by 10 pixels */
}

.custom-carousel .carousel-indicators [data-bs-target] {
    width: 0.6cqw;
    height: 0.6cqw;
    border-radius: 50%;
}

.FestivalIcon {
    filter: grayscale(100);
    transform: scale(0.4);
    transition-property: filter, transform;
    transition-duration: 1s, 1s;
}

.FestivalIcon:hover {
    filter: grayscale(0);
    transform: scale(0.5);
}

.FestivalIconClicked {
    filter: grayscale(0);
    transform: scale(0.5);
}

.custom-carousel .ImageCarousel {
    min-width: 100%;
}

.FestivalNavButton {
    max-width: 200px;
    margin: auto;
}

.FestivalNavButtonText {
    font-size: 1cqw !important;
}

@media(min-width: 1920px) {
    .custom-carousel .carousel-indicators [data-bs-target] {
        width: 15px;
        height: 15px;
    }

    .HRLine {
        opacity: 1;
    }
}

@media(max-width: 1920px) {
    .HRLine {
        opacity: 1;
        transform: scale(0.01);
        transition: transform 1.25s ease, opacity 1.5s;
    }

    .HRLineShow {
        opacity: 1;
        transform: scale(1);
    }

    .DescStyle {
        margin-top: 1.5cqw;
    }

    .ImageCarouselHide {
        opacity: 0;
        filter: blur(10cqw);
        transition: opacity 1.25s, filter 1s ease;
    }

    .ImageCarouselShow {
        opacity: 1;
        filter: blur(0);
    }
}

@media(max-width: 1200px) {
    .custom-carousel .carousel-indicators [data-bs-target] {
        width: 1.25cqw;
        height: 1.25cqw;
    }

    .FestivalNavButtonText {
        font-size: 1.5cqw !important;
    }
}

@media(max-width: 768px) {
    .custom-carousel .carousel-indicators [data-bs-target] {
        width: 2.5cqw;
        height: 2.5cqw;
    }

    .custom-carousel .ImageCarousel {
        max-width: 100%
    }

    .FestivalNavButton {
        width: 25cqw !important;
    }

    .FestivalNavButtonText {
        font-size: 2.5cqw !important;
    }
}

@media(max-width: 576px) {
    .DescStyle {
        font-size: 2.5cqw;
    }

    .TitleStyle {
        font-size: 3.5cqw;
    }

    .SubTitleStyle {
        font-size: 3cqw;
    }

    .custom-carousel .carousel-indicators [data-bs-target] {
        width: 3cqw;
        height: 3cqw;
    }

    .FestivalNavButton {
        width: 30cqw !important;
    }

    .FestivalNavButtonText {
        font-size: 2.5cqw !important;
    }
}