.DescStyle {
    line-height: 2;
    max-width: 75%;
    overflow-y: hidden;
}

.UpperCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.UpperCardCol {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
}

.LowerCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LowerCardCol {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.DescStyle .HRTwoText {
    opacity: 1;
    margin: 0;
    transition-property: opacity, transform;
    transition-duration: 2s, 2s;
    opacity: 0.1;
    transform: scale(0.1);
}

.DescStyle .HRTwoTextLight {
    border: 1.5px solid black;
}

.DescStyle .HRTwoTextDark {
    border: 1.5px solid rgb(200, 200, 200);
}

.DescStyle .HRTwoTextShow {
    opacity: 1;
    transform: scale(1);
}

.DescStyle .TwoTextDesc {
    transition-property: opacity, transform;
    transition-duration: 2s, 2s;
    opacity: 0.1;
    transform: translateY(var(--translation-prop));
}

.DescStyle .TwoTextDescShow {
    transform: translateY(0%);
    opacity: 1;
}

.TwoTextImageStyle {
    max-width: 100%;
    aspect-ratio: 1;
    height: auto;
    padding: 10px;
}

@media(max-width: 992px) {
    .UpperCardCol {
        align-items: center;
    }

    .LowerCardCol {
        align-items: center;
    }

    .UpperCard .DescStyle {
        margin: 25px 0;
    }

    .LowerCard .DescStyle {
        margin: 25px 0;
    }


}