.DividerV2HR {
    border: 2.5px solid darkgrey;
    opacity: 1;
    z-index: 1;
    position: absolute;
    max-width: 100%;
}

.TextContainer {
    width: 50%;
    height: fit-content;
    text-align: center;
    border: 2.5px solid grey;
    border-radius: 25px;
    z-index: 2;
    position: relative;
    background-color: white;
}

.DiamondContainerRow {
    max-width: 30%;
    margin: auto;
    justify-content: center;
}

@media(max-width: 768px) {
    .DiamondContainerRow {
        max-width: 100%;
    }
}


@media(max-width: 992px) {
    .DividerV2HR {
        display: none;
    }

    .TextContainer {
        width: 85%;
    }
}