.DivTop {
    position: relative;
    width: 100%;
    border: 3px solid rgba(100, 100, 100, 0);
    border-radius: 5px;
    transition-property: border;
    transition-duration: 0.5s;
    overflow: hidden;
}

.DivTop:hover>.Div2 {
    opacity: 1;
}

.Div2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Matches the parent container */
    height: 100%;
    /* Matches the parent container */
    transform-origin: center left;
    transition-property: opacity, transform;
    transition-duration: 0.5s, 2s;
    opacity: 0;
    z-index: 1;
}

.LeftContainer {
    transition: transform 1s;
    transform-origin: center left;
}

.LeftContainer:hover {
    transform: scaleX(1.25);
}