.InfoCardDefault {
    transition-property: opacity, transform;
    transition-duration: var(--transition-duration), var(--transition-duration);
    transition-timing-function: var(--transition-timing-func);
    opacity: 0;
    transform: translateY(125%);
    cursor: pointer;
}

.InfoCardDefaultShow {
    opacity: 1;
    transform: translateY(0%);
}

.InfoSectionContainer {
    padding: 25px;
    overflow-y: hidden;
}

.InfoSectionContainerLight {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

.InfoSectionContainerDark {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);

}