.InfoCardDefault {
    transition-property: opacity, transform;
    transition-duration: var(--transition-duration), var(--transition-duration);
    transition-timing-function: var(--transition-timing-func);
    opacity: 0;
    transform: translateY(125%);
    cursor: pointer;
}

.InfoCardDefaultShow {
    opacity: 1;
    transform: translateY(0%);
}