.CommonContainer {
    position: relative;
    max-width: 1920px !important;
    margin-bottom: 5cqw;
}

.CommonHeaderTitle {
    display: inline-block;
    font-weight: 500;
    font-size: 2.5cqw;
    text-shadow: 0px 0px var(--shadowRadius) var(--shadowColour);
    margin: 0 30px 0 30px;
}

.CommonHeaderRow {
    margin-bottom: 2.5cqw;
}

.CommonNavButtonTextStyle {
    font-size: 0.75cqw;
    padding: 0;
    margin: 0;
    color: black;
}

@media(max-width: 1920px) {

    .CommonHeaderLineLeft {
        opacity: 1;
        width: 5cqw;
        height: 0.25cqw;
    }

    .CommonHeaderLineRight {
        opacity: 1;
        width: 2.5cqw;
        height: 0.25cqw;
        transform-origin: center left;
        transition: transform 1.25s;

    }

    .CommonHeaderLineRightTransform {
        transform: scaleX(23);
    }
}

@media(min-width: 2000px) {
    .CommonContainer {
        margin-bottom: 75px;
    }

    .CommonHeaderLineLeft {
        width: 100px;
        opacity: 1;
    }

    .CommonHeaderLineRight {
        width: 1000px;
        opacity: 1;
    }

    .CommonHeaderTitle {
        font-size: 47.5px;

    }

    .CommonNavButtonTextStyle {
        font-size: 17.5px;
    }
}

@media(max-width: 1200px) {
    .CommonNavButtonStyle {
        min-width: 15cqw;
    }

    .CommonNavButtonTextStyle {
        font-size: 1.25cqw;
        padding: 0;
        margin: 0;
    }

    .CommonHeaderLineRightTransform {
        transform: scaleX(20);
    }

}

@media(max-width: 576px) {
    .CommonHeaderLineLeft {
        width: 5cqw;
    }

    .CommonHeaderLineRight {
        width: 40cqw;
    }

    .CommonHeaderLineRight {
        transform: scale(0.1);
    }

    .CommonHeaderLineRightTransform {
        transform: scaleX(1);
    }

    .CommonNavButtonStyle {
        margin-top: 2.5cqw;
    }


    .CommonNavButtonTextStyle {
        font-size: 10px;
        padding: 0;
        margin: 0;
    }

    .CommonHeaderTitle {
        margin: 10px;
    }

}