.ReferenceAnchor {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 0.5cqw 0.5cqw;
    background-color: transparent;
    text-align: center;
    transition: all 0.3s ease;
    border-radius: 15px;
}

.ReferenceAnchor:hover {
    background-color: grey;
}

.SocialAnchor {
    margin-bottom: 1cqw;
}

.TopBarText {
    color: black;
    display: inline-block;
    padding: 0.25cqw 0.25cqw;
    background-color: transparent;
    text-align: start;
    transition: all 0.3s ease;
    border-radius: 15px;
    cursor: pointer;
}

.TopBarText:hover {
    background-color: grey;
}

.SagaFlag {
    transform: scale(0.8);
    transition-property: transform;
    transition-duration: 1s;
    min-width: 55px;
    cursor: pointer;
}

.SagaFlag:hover {
    transform: scale(1);
}

.DropdownText {
    font-size: 0.95cqw;
}


@media(max-width: 992px) {
    .DropdownText {
        font-size: 1.95cqw;
    }
}


@media(max-width: 576px) {
    .DropdownText {
        display: none;
    }
}

@media(min-width: 1920px) {
    .DropdownText {
        font-size: 18px;
    }
}