.CircularMenuWrapper {
    position: relative;
    height: 550px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 768px) {
    .CircularMenuWrapper {
        height: 450px;
    }
}

@media(max-width: 576px) {
    .CircularMenuWrapper {
        height: 325px;
    }

}

@media(max-width: 360px) {
    .CircularMenuWrapper {
        height: 300px;
    }

}