.CommonContainer {
    position: relative;
    max-width: 1920px !important;
    margin-bottom: 5cqw;
}

.CommonHeaderLineLeft {
    opacity: 1;
    width: 5cqw;
    height: 0.25cqw;
}

.CommonHeaderLineRight {
    opacity: 1;
    width: 50cqw;
    height: 0.25cqw;
}

.CommonHeaderTitle {
    display: inline-block;
    font-weight: 500;
    font-size: 2.5cqw;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.CommonHeaderRow {
    margin-bottom: 2.5cqw;
}

@media(min-width: 1920px) {
    .CommonContainer {
        margin-bottom: 75px;
    }

    .CommonHeaderLineLeft {
        width: 100px;
    }

    .CommonHeaderLineRight {
        width: 1000px;
    }

    .CommonHeaderTitle {
        font-size: 47.5px;
        text-shadow: 0px 0px 10px var(--shadowColour);
    }
}

@media(max-width: 576px) {
    .CommonHeaderLineLeft {
        width: 5cqw;
    }

    .CommonHeaderLineRight {
        width: 40cqw;
    }
}