.CommonContainer {
    position: relative;
    max-width: 1920px !important;
    margin-bottom: 5cqw;
}

.CommonHeaderTitle {
    display: inline-block;
    font-weight: 500;
    font-size: 2.5cqw;
    text-shadow: 0px 0px var(--shadowRadius) var(--shadowColour);
}

.CommonHeaderRow {
    margin-bottom: 2.5cqw;
}

@media(max-width: 1920px) {

    .CommonHeaderLineLeft {
        opacity: 1;
        width: 5cqw;
        height: 0.25cqw;
    }

    .CommonHeaderLineRight {
        opacity: 1;
        width: 2.5cqw;
        height: 0.25cqw;
        transform-origin: center left;
        transition: transform 1.25s;

    }

    .CommonHeaderLineRightTransform {
        transform: scaleX(25);
    }
}

@media(min-width: 2000px) {
    .CommonContainer {
        margin-bottom: 75px;
    }

    .CommonHeaderLineLeft {
        width: 100px;
        opacity: 1;
    }

    .CommonHeaderLineRight {
        width: 1000px;
        opacity: 1;
    }

    .CommonHeaderTitle {
        font-size: 47.5px;

    }
}

@media(max-width: 576px) {
    .CommonHeaderLineLeft {
        width: 5cqw;
    }

    .CommonHeaderLineRight {
        width: 40cqw;
    }

    .CommonHeaderLineRightTransform {
        transform: scaleX(1);
    }
}