.OneQuarter {
    aspect-ratio: 1;
    margin: 5% 2.5%;
    transition-property: transform;
    transition-duration: 2s;
}

.OneQuarterHovered {
    transform: scale(1.6);
}

.OneQuarterNotHoveredHorizontal {
    transform: scaleX(0.4) scaleY(1.6);
}

.OneQuarterNotHoveredVertical {
    transform: scaleY(0.4) scaleX(1.6);
}

.OneQuarterNotHoveredOblique {
    transform: scale(0.4);
}