:root {
  font-family: Helvetica, Inter, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: dark;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  color: white !important;
}