:root {
  font-family: Helvetica, Inter, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: dark;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  --scrollbar-display: none;
}

:root::-webkit-scrollbar {
  display: var(--scrollbar-display);
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #b3b3b3;

}

::-webkit-scrollbar-thumb:hover {
  background: #757575;
}

::-webkit-scrollbar-thumb:active {
  background: #4d4d4d;
}

html,
body {
  height: 100%;
}

body {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  color: white !important;
}

.SubpageAppRoot {
  background-image: linear-gradient(rgb(245, 245, 245), rgb(245, 245, 245));
  color: black !important;
  /* Ensure text is visible on white background */
  min-height: 100vh;
  /* Ensure the div covers the full viewport height */
}

.SubpageAppRootDark {
  background-image: linear-gradient(rgb(10, 10, 10), rgb(25, 25, 25));
  color: rgb(200, 200, 200) !important;
  /* Ensure text is visible on white background */
  min-height: 100vh;
}